* {
	/* border: 1px solid black; */
	
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #E0F2E6;
	background: linear-gradient(258deg, rgba(224, 242, 230, 1) 20%, rgba(183, 215, 198, 1) 39%, rgba(170, 206, 187, 1) 59%, rgba(183, 215, 198, 1) 83%, rgba(224, 241, 229, 1) 100%);
	min-height: 4.5rem;
/* 	background: none; */
/* 	fixo */
/* 	position: fixed; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     z-index: 1000;  */
    }


.nav {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 2rem;
	margin-block: 0.250rem;
}

.nav_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.flex2 {
	flex: 2;
}

.nav h1 {
	font-size: 1.5rem;
	color: #214538;
	font-weight: 500;
}


.logo a {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	text-decoration: none;
}

.logo-nav {
	width: 2.2rem;
}

.logo h1 {
	background: -webkit-linear-gradient(136deg,rgba(0, 0, 0, 0) 0%, rgba(42, 84, 62, 1) 59%, rgb(33, 69, 56) 20%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #214538;
	font-weight: 600;
}

.container-size h1 {
	font-size: 2rem;
	font-weight: 600;
}

.ul-nav {
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	list-style: none;
	margin-inline: 0.4rem;
}

.a-li {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	justify-content: center;
	align-items: baseline;
	color: #214538;
	font-weight: 500;
	font-size: 1.25rem;
	/* 	padding-inline: 1rem; */
	background: -webkit-linear-gradient(100deg,rgba(0, 0, 0, 0) 0%, rgba(42, 84, 62, 1) 50%, rgb(33, 69, 56) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.a-li:hover {
	transform: scale(1.02);
}

.icon-a {
	height: auto;
	width: 1.2rem;
}

.singup-container {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 	justify-content: space-between; */
	align-items: center;
	padding-inline: 1rem;
	font-size: 0.9rem;
	font-weight: 500;
}

.profile-container {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	gap: 0.3rem;
}

.profile-container ul {
	/* 	border: 1px solid black; */
	background-color: #B8D8BF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	padding-inline: 1rem;
	padding-block: 0.125rem;
	height: auto;
	
}

.profile-container ul li {
	text-align: center;
	font-size: 0.85rem;
	font-weight: 600;
	color: #214538;
	text-transform: capitalize;
}

.singup-container li {
	border-radius: 10px;
	margin-inline: 0.1rem;
}

.singup-container li:hover {
	text-decoration: underline;
	border-radius: 10px;
	margin-inline: 0.1rem;
}

.singup-container a {
	color: #214538;
	list-style-type: none;
	text-decoration: none;
}

.logout {
	/* 	border: 1px solid black; */
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
	font-weight: 500;
	text-transform:lowercase; 
}

.logout a {
	color: #214538;
	list-style-type: none;
	text-decoration: none;
}

.logout a:hover {
	color: #F74F4F;
	text-decoration: underline;
	transform: scale(1.10);
}