* {
	/* border: 1px solid black; */
	
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(to bottom, #587064, #89B09D, #95BFAA);
	min-height: 4.5rem;
	
/* 	fixo */
/* 	position: fixed; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     z-index: 1000;  */
    }


.nav {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 1rem;
	margin-block: 0.250rem;
}

.nav_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav h1 {
	font-size: 1.5rem;
	color: #214538;
	font-weight: 500;
}

.logo a {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	text-decoration: none;
}

.logo-nav {
	width: 2.2rem;
}

.logo h1 {
	color: #214538;
	font-weight: 500;
}

.container-size h1 {
	font-size: 2rem;
	font-weight: 600;
}

.ul-nav {
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	list-style: none;
	margin-inline: 0.4rem;
}

.a-li {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	justify-content: center;
	align-items: baseline;
	color: #214538;
	font-weight: 500;
	font-size: 1.25rem;
	/* 	padding-inline: 1rem; */
}

.a-li:hover {
	color: #B8D8BF;
	text-decoration: underline;
	transform: scale(1.02);
}

.icon-a {
	height: auto;
	width: 1.2rem;
}

.singup-container {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 	justify-content: space-between; */
	align-items: center;
	padding-inline: 1rem;
	font-size: 0.9rem;
	font-weight: 500;
}

.profile-container {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	gap: 0.3rem;
}

.profile-container ul {
	/* 	border: 1px solid black; */
	background-color: #B8D8BF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	padding-inline: 0.2rem;
	padding-block: 0.125rem;
	width: 14ch;
	height: auto;
}

.profile-container ul li {
	font-size: 0.85rem;
	font-weight: 600;
	color: #214538;
}

.singup-container li {
	border-radius: 10px;
	margin-inline: 0.1rem;
}

.singup-container li:hover {
	text-decoration: underline;
	border-radius: 10px;
	margin-inline: 0.1rem;
}

.singup-container a {
	color: #214538;
	list-style-type: none;
	text-decoration: none;
}

.logout {
	/* 	border: 1px solid black; */
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 500;
}

.logout a {
	color: #214538;
	list-style-type: none;
	text-decoration: none;
}

.logout a:hover {
	color: #F74F4F;
	text-decoration: underline;
	transform: scale(1.09);
}