* {
	/* border: 1px solid black; */
	
}

.header {
	background-color: rgba(46, 95, 46, 0.39);
}

.nav {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-inline: 1rem;
	padding-block: 1rem;
}

.logo a {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.logo h1 {
	color: #214538;
	font-weight: 500;
}

.nav h1 {
	font-size: 1.5rem;
	color: #214538;
	font-weight: 500;
}

.ul-nav {
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	list-style: none;
	margin-inline: 2rem;
}

.li-ul {
	
}

.a-li {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	justify-content: center;
	align-items: baseline;	
	color: #214538;
	font-weight: 500;
	font-size: 1.25rem;
	padding-inline: 1rem;
	
}


.a-li:hover {
	border: 1px solid #214538;
	border-radius: 10px;
	color: #214538;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.3rem;
}

.icon-a {
	height: auto;
	width: 1.2rem;
}