.hero {
    flex: 1;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-inline: 20rem;

}

.hero-left,
.hero-right {
    padding-block: 4rem;
    padding-inline: 1rem;
    text-align: justify;
}


/* lado esquerdo da hero */
.hero-left {
    /* border: 1px solid red; */
    flex: 2;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* lado direito da hero */
.hero-right {
    /* border: 1px solid blue; */
    flex: 1;
    
}

.find-form {
    background-color: #262C36;
    color: #fff;
    border-radius: 10px;
    padding-block: 2rem;
    padding-inline: 1rem;
    height: 10rem;
    
}


/* main */
.form {
	background-color: #DFDFDF;
	/* 	border: 1px solid gray; */
	border-radius: 10px;
	padding: 2rem;
}

.input__submit-form {
	background-color: #A0A0A0;
	border: 1px solid black;
	border-radius: 10px;
	color: #000000;
}

.input__submit-form:hover {
	cursor: pointer;
	background-color: #000;
	border: 1px solid black;
	border-radius: 10px;
	color: #DFDFDF;
	transform: scale(1.05);
}

.input__submit-form:active {
	background-color: #000 !important;
	border: 1px solid black;
	border-radius: 10px;
	color: #DFDFDF;
	transform: scale(1.05);
}

.input__submit-form:focus {
	background-color: #000;
	border: 1px solid black;
	border-radius: 10px;
	color: #DFDFDF;
	transform: scale(1.05);
}

