.margin {
	/* 	border: 1px solid black; */
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carrinho {
	background-color: #bcd7c9;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 40rem;
	height: auto;
	padding: 1rem;
	border-radius: 10px;
}

.carrinho h1 {
	font-size: 2rem;
	font-weight: 600;
}

.carrinho ul {
	list-style: none;
}

.line {
	border: 1px solid black;
	margin-block: 10px
}

.row-dp {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	list-style: none;
}

.row-dp li {
	font-size: 1.2rem;	
}

.more-btns {
	
}

.btnsoma {
	color: green;
}

.btnsub {
	color: red;
}

.more-btns a {
	text-decoration: none;
	font-size: 1rem;
	background-color: gray;
	border-radius: 10px;
	padding-inline: 0.5rem;
}

.subtotal {
	font-size: 0.85rem;
	padding-left: 0.25rem;
	list-style: none;
	font-style: italic;
	font-variant: small-caps;
}

.total {
	font-size: 1.35rem;
	font-weight: 500;
	margin-block: 1rem;
}

ul h2 {
	font-size: 1.25rem;
}

.payment {
	margin-top: auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.payment-btn {
	border-radius: 10px;
	background-color: #214538;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	padding-inline: 0.75rem;
	padding-block: 0.45rem;
	margin-block: 1rem;
}

.payment-btn:hover {
	border-radius: 10px;
	background-color: #95BFAA;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	padding-inline: 0.75rem;
	padding-block: 0.45rem;
}

.cart-float {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 35px;
	color: #000; /* cor do ícone */
	background: none; /* sem fundo */
	border: none; /* sem bordas */
	cursor: pointer;
	z-index: 9999; /* sempre por cima */
}

.cart-float:hover {
	transform: scale(1.1);
}