* {
	/* 	border: 1px solid black; */
	
}

.hero {
	
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	margin-inline: 20rem;
}

.hero-left, .hero-right {
	background-color: #E1F1E4;
	border-radius: 10px;
	text-align: justify;
	margin-block: 4rem;
	padding-block: 1rem;
	padding-inline: 1rem;
}

/* lado esquerdo da hero */
.hero-left {
	flex: 5;
	color: #000;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* lado direito da hero */
.hero-right {
	flex: 4;
}

.loggon-form {
	background: linear-gradient(to bottom, #ADDFC6, #c0edd7);
	height: 100%;
	/* 	background-color: #ADDFC6; */
	color: #000;
	border-radius: 5px;
	padding-block: 2rem;
	padding-inline: 1rem;
}

.field-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	gap: 0.2rem;
}

.label-form {
	/* 	border: 1px solid black; */
	flex: 1;
	color: #000;
}

.input-form {
	flex: 4;
	width: 100%;
	border: none;
	border-radius: 5px;
	/* 	deixa a margem de texto */
	padding-left: 0.6rem;
	
}

.select-container {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

.select-form {
	background-color: #E2ECE1;
	display: flex;
	flex: 1;
	border-radius: 5px;
	transition: 3s rotate;
	cursor: pointer;
	
}

.submit-container {
	margin-top: 3rem;
}

.span-error {
	color: red;
	font-size: 0.9rem;
}

.input__submit-form {
	background-color: #ADDFC6;
	border-radius: 5px;
	font-size: 1rem;
	padding-inline: 0.8rem;
	transition: transform .15s ease, background .15s ease;
}

.input__submit-form:hover {
	transform: translateY(-3px);
	background: #214538;
	color: #fff;
}

.input-form {
    transition: box-shadow .2s ease, transform .2s ease;
}

.input-form:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, .5);
    transform: scale(1.02);
}