.banner {
	display: flex;
	flex-direction: column;
	position: relative; /* cria um contexto para posicionar a outra */
	margin-top: 6.5rem;
}

.banner-img {
	background-color: #FDEBD4;
	padding: 0.3rem;
	width: 100vw;
	height: 22rem;
	border-radius: 20px;
	width: 100vw;
	box-shadow: 0 20px 18px rgba(0, 0, 0, 0.12);
}

.banner-info {
	background: #EBDAC5; /* cor branca/creme */
	position: relative; /* mantém no fluxo, mas com margin negativa */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 150px;
	margin: -18px auto 0; /* <--- sobe 18px sobre a imagem */
	padding: 8px 10px;
	border-radius: 6px;
	box-shadow: 0 20px 18px rgba(0, 0, 0, 0.12);
	z-index: 5;
}

.banner-info img {
	width: 2rem;
	height: auto;
}

.banner-info h1 {
	font-size: 1rem;
	font-weight: 500;
	color: #214538;
}

.banner-info button {
	font-size: 0.7rem;
	font-weight: 400;
	color: #214538;
	padding: 0.2rem;
	border-radius: 10px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.menu-container {
	background-color: #bcd7c9;
	display: flex;
	margin-top: 10rem;
	margin-bottom: 5rem;
	margin-inline: 10rem;
}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 10rem;
	margin: 3rem;
	width: 100%;
}

.item-card {
	background-color: #F4E3D3;
	border-radius: 10px;
	padding-inline: 1rem;
	padding-block: 1rem;
}

.item-card h1 {
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

/* ul - lista de itens */
.list {
	display: flex;
	flex-wrap: wrap; gap : 6rem;
	list-style: none;
	gap: 6rem;
}

.card-li {
	background-color: #B8D8BF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	font-size: 1.25rem;
	font-weight: 500;
	padding: 1rem;
	margin-bottom: 0.5rem;
	min-height: 5rem;
	max-height: 8rem;
	max-width: 20ch;
	min-width: 8rem;
}

.sub-list {
	list-style: none;
}

.sub-list li {
	font-size: 0.850rem;
}

.desc {
	font-weight: 400;
}

.preco {
	font-weight: 500;
}

.food-container {
	/* 	background-color: green; */
	
}

.drink-container {
	/* 	background-color: red; */
	
}

.dessert-container {
	/* 	background-color: blue; */
	
}