.margin {
	border: 1px solid black;
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carrinho {
	background-color: #bcd7c9;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: 40rem;
	height: 40rem;
}

.carrinho ul {
	border: 1px solid black;
	list-style: none;
}

ul h2 {
	font-size: 1.25rem;
}