.bar {
	width: 100vw;
	height: 2rem;
	background-color: #214538;
	margin-blck: 1rem;
}

.px {
	display: flex;
	flex-direction: row;
}

.container-pay {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	background-color: #BCD7C9;
	border-radius: 10px;
	margin-inline: 18rem;
	padding: 1rem;
}

.left-p {
	border: 1px solid red;
	flex: 2;
}

.left-p h1 {
	font-size: 2rem;
	font-weight: 700
}

.left-p h2 {
	font-size: 1.25rem;
	font-weight: 500
}

.right-p {
	border: 1px solid blue;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.right-p h1 {
	font-size: 1.25rem;
	font-weight: 500;
}

.resume-ul {
	list-style-type: none;
	
}

.resume-item {
	display: flex;
	flex-direction: row;	
	align-items: center;
	border: 1px solid black;
	margin-block: 0.35rem;
}

.item-qtd {
	font-size: 0.8rem;
}

.item-price {
	font-size: 1rem;
}

.pay-shapes {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.pay-card {
	background-color: #dcede4;
	margin-block: 0.25rem;
	padding: 0.5rem;
	width: 8rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color: #214538;
	font-weight: 500;
	font-size: 1.0125rem;
}