* {
	/* 	border: 1px solid black; */
	
}

.hero {
	flex: 1;
}

.container {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	margin-inline: 20rem;
}

.hero-left, .hero-right {
	background-color: #E1F1E4;
	border-radius: 10px;
	margin-block: 4rem;
	padding-inline: 1rem;
/* 	margin-top: 5rem; */
	text-align: justify;
	padding-block: 1rem;
}

/* lado esquerdo da hero */
.hero-left {
	/* border: 1px solid red; */
	flex: 2;
	color: #000;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* lado direito da hero */
.hero-right {
	/* border: 1px solid blue; */
	flex: 1;
}

.loggon-form {
	background: linear-gradient(to bottom, #ADDFC6, #c0edd7);
	/* 	background-color: #ADDFC6; */
	color: #000;
	border: 2px solid #000;
	border-radius: 5px;
	padding-block: 2rem;
	padding-inline: 1rem;
}

.field-container {
	margin-block: 1rem;
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
}

.label-form {
	/* 	border: 1px solid black; */
	flex: 1;
	color: #000;
}

.input-form {
	flex: 4;
	width: 100%;
	border: none;
	border-radius: 5px;
	/* 	deixa a margem de texto */
	padding-left: 0.6rem;
}

.select-container {
	/* 	border: 1px solid black; */
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
}

.select-form {
	background-color: #E2ECE1;
	display: flex;
	flex: 1;
	border-radius: 5px;
	transition: 3s rotate;
	cursor: pointer;
}

.submit-container {
	margin-top: 3rem;
}

.input__submit-form {
	background-color: #ADDFC6;
	border: 1px solid #2B603A;
	border-radius: 5px;
	color: #000000;
	font-size: 1rem;
	padding-inline: 0.8rem;
}

.input__submit-form:hover {
	cursor: pointer;
	background-color: #ADDFC6;
	border: 1px solid #000;
	border-radius: 5px;
	color: #000;
	transform: scale(1.05);
}

.input__submit-form:active {
	background-color: #000 !important;
	border: 1px solid black;
	color: #DFDFDF;
	transform: scale(1.05);
}

.input__submit-form:focus {
	background-color: #000;
	border: 1px solid black;
	border-radius: 10px;
	color: #DFDFDF;
	transform: scale(1.05);
}

.back-button {
	background-color: #ADDFC6;
	border: 1px solid #2B603A;
	border-radius: 5px;
	color: #000;
	font-size: 1rem;
	padding-inline: 0.8rem;
	margin-block: 1rem;
}

.back-button:hover {
	cursor: pointer;
	background-color: #ADDFC6;
	border: 1px solid #000;
	border-radius: 5px;
	color: #000;
	transform: scale(1.05);
}