.container-center {
	/* 	width: 100vw; */
	/* 	height: 100vh; */
	/* 	border: 1px solid #fff; */
	/* 	deixa o container flexivel */
	display: flex;
	/* 	direciona o conteudo do container horizontalmente */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.login-form-h1 {
	font-size: 2rem;
	font-weight: 600;
	color: #000;
	margin-top: 2rem;
	background: -webkit-linear-gradient(136deg, rgba(0, 0, 0, 0) 0%,
		rgba(42, 84, 62, 1) 59%, rgb(33, 69, 56) 20%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.login-form {
	background-color: #B8D8BF;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: 50rem;
	min-height: 20rem;
	padding: 30px;
	border-radius: 10px;
	/* 	border: 1px solid black; */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.lginfo-h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.lginfo-h2 {
	font-size: 1rem;
	text-align: center;
}

.info-input {
	display: flex;
	flex-direction: row;
}

.login-form-btn {
	background-color: #7BAC8A;
	border-radius: 10px;
	margin-top: 1rem;
	/* 	margin-bottom: auto; */
	margin-top: 1rem; /* empurra o botão para o final do form */
	transition: transform .15s ease, background .15s ease;
}

.login-form-btn:hover {
	transform: translateY(-3px);
	background: #214538; 
	color: #fff;
}

.login-form p {
	font-size: 0.8rem;
	align-self: flex-end; /* opcional: alinha o botão à direita */
	margin-top: auto; /* empurra o botão para o final do form */
}