.pedidos-container {
	background-color: #BCD7C9;
	display: flex;
	flex-direction: column;
	
	padding: 1rem;
	margin-inline: 4rem;
	width: 100vw;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}

.pedidos-msg {
	display: flex;
	flex-direction: column;

}

.pedidos-msg h1 {
	font-size: 3rem;
	font-weight: 600;
	display: flex;
	flex-direction: row;
}

.pedidos-msg p {
	font-size: 2rem;
}

.pedidos-msg a {
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 0;
	width: fit-content;
	font-size: 1rem;
	letter-spacing: 0.025rem;
	margin-left: 1rem;
}

.pedidos-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
}

.pedidos-info h3 {
	font-size: 1.4rem;
	font-weight: 500;	
}

.pedido-box li {
	
}

.pedido-box {
	width: 18rem;
	background-color: #dcede4;
	border-radius: 10px;
	padding: 1rem;
}

.pedido-box ul {
	list-style: none;
}
