/* Pressets gerais */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	line-height: calc(1em + 0.5rem);
	font: inherit;
	
}

body {
	/* 	tirei a paleta de cores gradiente do papel de parede porque ta ficando bugado */
	/* 	background: linear-gradient(to bottom, #ADDFC6, #95bfaa); */
	background-color: #95bfaa;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
	font-family: 'Poppins', serif;
	/* 	tag para tirar o scroll da pagina */
	/* 	overflow: hidden; */
	/* 	                                   */
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

button {
	border: none;
	background: none;
	color: inherit;
	cursor: pointer;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.025em;
}

form {
	box-shadow: 0 20px 18px rgba(0, 0, 0, 0.12);
}

.page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* div que centraliza */
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: 6rem;
	margin-block: 2rem;
}

/* caixa para deixar um container flexivel e em linha (horizontalizado) */
.container-flex-row {
	display: flex;
	flex-direction: row;
}

/* caixa para deixar um container flexivel e em coluna (verticalizado)*/
.container-flex-column {
	display: flex;
	flex-direction: column;
}

.errors {
	background-color: #B8D8BF;
	list-style-type: none;
	padding: 1rem;
	border-radius: 10px;
	color: white;
	font-weight: 500;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transform: translateY(-125px);
	animation: showFlash 0.7s forwards, 6s forwards;
}

.errors ul {
	list-style-type: disc;
	list-style: inside;
}

.errors ul li {
	color: red;
	font-weight: 600;
}

.flash-message {
	position: fixed; /* flutuante */
	top: 6rem; /* distância do topo */
	left: 0; /* canto superior direito */
	z-index: 9999; /* fica por cima de tudo */
	padding: 15px 25px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	color: white;
	font-weight: 500;
	box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transform: translateY(-125px);
	animation: showFlash 0.5s forwards, hideFlash 0.5s 3s forwards;
}

.flash-success {
	background-color: #E1F1E4;
	color: #214538;
}

.flash-error {
	background-color: #F44336;
	color: #fff;
}

@keyframes showFlash {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideFlash {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}