#{extends 'main.html' /} #{set title:'Cardapio' /} 

#{if flash.error || flash.success}
<div id="flash-message"
	class="flash-message 
           #{if flash.error} flash-error #{/if}
           #{if flash.success} flash-success #{/if}">
	${flash.error ?: flash.success}</div>
#{/if}

<div class="banner"></div>

<div class="menu-container">
	<div class="items-container">
	
		<div class="food-container item-card">
			<h1>Comidas</h1>
			<ul class="list">
				#{list items: listaDeComidas, as:'p'}
				<li class="card-li">${p.nome}
					<ul class="sub-list">
						<li class="desc italic">${p.descricao}</li>
						<li>R$${p.preco},00</li>
					</ul>
				</li> 
				#{/list}
			</ul>
		</div>

		<div class="drink-container item-card">
			<h1>Bebidas</h1>
			<ul class="list">
				#{list items: listaDeBebidas, as:'p'}
				<li class="card-li">${p.nome}
					<ul class="sub-list">
						<li class="desc italic">${p.descricao}</li>
						<li>R$${p.preco},00</li>
					</ul>
				</li>
				 #{/list}
			</ul>
		</div>

		<div class="dessert-container item-card">
			<h1>Sobremesas</h1>
			<ul class="list">
				#{list items: listaDeSobremesas, as:'p'}
				<li class="card-li">${p.nome}
					<ul class="sub-list">
						<li class="desc italic">${p.descricao}</li>
						<li>R$${p.preco},00</li>
					</ul>
				</li>
				#{/list}
			</ul>
		</div>
		
	</div>
</div>


