#{extends 'main.html' /}

#{if p}
	#{set title:'Edição de Produto' /}
#{/if}
#{else}
	#{set title:'Cadastro de Produto' /}
#{/else}

<div class="hero-left">
	<section>
		<h1>Cadastro de produtos</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
			optio iste odit illo a quia, perferendis debitis placeat aliquid
			enim nam deserunt? Minus amet quos iste labore commodi, beatae
			natus? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			Quia nemo doloribus expedita, deserunt, atque culpa eveniet
			eligendi eius fuga commodi voluptatum reprehenderit porro magnam
			non in, inventore autem beatae officia. Lorem ipsum dolor sit amet
			consectetur adipisicing elit. Quae laborum nesciunt magni dolorem,
			blanditiis temporibus reiciendis eveniet dicta consequatur fuga
			cupiditate perferendis et nostrum aut tempore a, incidunt iure
			eaque.</p>
	</section>
	
	<section>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
			optio iste odit illo a quia, perferendis debitis placeat aliquid
			enim nam deserunt? Minus amet quos iste labore commodi, beatae
			natus? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			Quia nemo doloribus expedita, deserunt, atque culpa eveniet
			eligendi eius fuga commodi voluptatum reprehenderit porro magnam
			non in, inventore autem beatae officia. Lorem ipsum dolor sit amet
			consectetur adipisicing elit. Quae laborum nesciunt magni dolorem,
			blanditiis temporibus reiciendis eveniet dicta consequatur fuga
			cupiditate perferendis et nostrum aut tempore a, incidunt iure
			eaque.</p>
	</section>
</div>
	<div class="hero-right"> 
		<form class="loggon-form" action="@{Produtos.salvar}">
			<div class="field-container">			
				<input type="hidden" name="produto.id" value="${p?.id}" />
				
				<label class="label-form">Nome:</label>
				<input class="input-form" type="text"
					name="produto.nome" value="${p?.nome}" />
			</div>
			<div class="field-container">
				<label class="label-form">Preço:</label>
				<input class="input-form" type="text"
					name="produto.preco" value="${p?.preco}" />
			</div>
			<div class="field-container">
				<label class="label-form">Categoria:</label>
				<select class="select-form" name="produto.categoria.id">
					#{list items:listaDeCategoria, as:'c'}
						<option value="${c.id}" 
							${c.id == p?.categoria?.id ? 'selected' : ''}>
								${c.nome}
						</option>
					#{/list}
				</select>
			</div>
			<div class="submit-container">
				<input class="input__submit-form" type="submit"
					value="${p ? 'Editar':'Cadastrar'}" />
			</div>
		</form>
	</div>
</div>


