#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.success}
	    <div class="flash-success">
	        ${flash.success}
	    </div>
#{/if}

<div class="container-menu">
	<table border="1" class="produtos-table">
		<caption class="title-table">Cardapio</caption>
		
	 	<thead class="thead-table">
			<tr class="tr-table">
				<th class="">Produto</th>
		      	<th class="">Categoria</th>
		      	<th class="">Preço</th>
		      	<th class="">Disponibilidade</th>
			</tr>
		    
		  </thead>
		  
		  <tbody class="tbody-table">
		  
		    <tr>
		      	<td>Sanduiche</td>
		      	<td>Lanche</td>
		     	<td>R$ 15,00</td>
		      	<td>Disponível</td>
		    </tr>
		    
		    <tr>
		      <td>Suco Natural</td>
		      <td>Bebida</td>
		      <td>R$ 8,00</td>
		      <td>Esgotado</td>
		    </tr>
		    
		</tbody>
	</table>
</div>


