#{extends 'main.html' /}
#{set title:'Carrinho' /}

#{if flash.error || flash.success}
	<div id="flash-message"
		class="flash-message 
	           #{if flash.error} flash-error #{/if}
	           #{if flash.success} flash-success #{/if}">
		${flash.error ?: flash.success}
	</div>
#{/if}


<div class="center">
	<div class="margin">
		<div class="carrinho">
			<h1>Carrinho <a href="@{Produtos.limparCarrinho()}" class="btn-a edit-btn">Esvaziar carrinho</a></h1>
			
			
			<div class="line"></div>
			<ul class="produtos">
				#{list items: itensAgrupados, as:'item'}
				
				<li class="item">${item.produto.nome} (${item.quantidade}x) 
					<div class="more-btns">
						<a href="@{Produtos.removerUm(item.produto.id)}" class="btns btnsub">-</a>
						<a href="@{Produtos.adicionarItemCarrinho(item.produto.id)}" class="btns btnsoma">+</a>
					</div>
				</li>
				<li class="subtotal">Valor unitário: R$${item.produto.preco},00</li>
				
				#{/list}
			</ul>
			
			<div class="line"></div>			
			
			<h2 class="total">Total: R$ ${total}</h2>
			
			<div class="payment">
				<a href="@{Produtos.cardapio}" class="payment-btn">Voltar</a> 
				<a href="@{Produtos.pagamento}" class="payment-btn">Finalizar pagamento</a>
			</div>
		</div>


	</div>
</div>