#{extends 'main.html' /} 
#{set title:'Login de usuário' /}

#{if flash.error || flash.success}
       <div id="flash-message" class="flash-message 
           #{if flash.error} flash-error #{/if}
           #{if flash.success} flash-success #{/if}">
           ${flash.error ?: flash.success}
       </div>
#{/if}

<!-- 	LOGIN para estabelecer um usuario dentro de uma sessao -->
<div class="container-flex-column">
<!-- 	container que age como box maior, ocupando toda a tela e centralizando o formulario dentro da pagina -->
	<div class="container-center">
<h1 class="login-form-h1">Faça já o login da sua conta!</h1>

		<form class="login-form" action="@{Login.logar}" method="POST">
			<h1 class="info-h1">Login</h1>
			<div class="info-input">
				<label class="label-form">Matricula:</label> 
				<input class="input-form" type="text" name="matricula" />
			</div>
		
			<div class="info-input">
				<label class="label-form">Senha:</label> 
				<input class="input-form" type="password" name="senha" />
			</div>
			
			<p>Ainda não tem cadastro? <a href="@{Usuarios.form}">Clique aqui!</a></p>
		
			<button class="login-form-btn">Logar</button>
		</form>
<!-- 	#{if flash.error} -->
<!-- 		<div class="flash-error">	 -->
<!-- 			${flash.error} -->
<!-- 	#{/if} -->
		</div>
	</div>		
	
</div>