
#{extends 'main.html' /}
#{set title:'Cadastro de usuário' /}

<div class="container-flex-column">
<!-- 	container que age como box maior, ocupando toda a tela e centralizando o formulario dentro da pagina -->
	<div class="container-center">
	
	#{ifErrors}
	<div class="errors" role="alert">
		<ul>
		#{errors}
			<li><span>${error.key}</span> - ${error}</li>
		#{/errors}
		</ul>
	</div>
#{/ifErrors}
	
		<form class="login-form" action="@{Usuarios.salvar}">
		
			<h1 class="info-h1">Cadastro</h1>
		
			<div class="info-input">
			
			<input type="hidden" name="usuario.id" value="${usuario?.id}" />
			
				<label class="label-form">Matricula:</label>
				<input class="input-form" type="text" name="usuario.matricula" value="${flash['usuario.matricula'] ? flash['usuario.matricula']    :usuario?.matricula}" />
			</div>
			
			<div class="info-input">
				<label class="label-form">Nome:</label>
				<input class="input-form" type="text" name="usuario.nome" value="${flash['usuario.nome'] ? flash['usuario.nome'] : usuario?.nome}" />
			</div>
		
			<div class="info-input">
				<label class="label-form">Senha:</label>
				<input class="input-form" type="password" name="usuario.senha" value="${flash['usuario.senha']}" />
			</div>
			
			<p>Já tem cadastro? <a href="@{Login.form}">Clique aqui!</a></p>
			
			<button class="login-form-btn">Cadastrar</button>
		</form>
		
	</div>
	
</div>

