<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/header.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-form.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-listar.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-login.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-cardapio.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-ver__carrinho.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-pagamento.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/footer.css'}">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>

<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>

#{get 'moreStyles' /}
</head>
<body>

<!-- cabeçalho da pagina  -->
	<div class="header">
<!-- 	barra de navegação -->
		<nav class="nav">
			<div class="logo nav_item">
				<a href="@{Produtos.cardapio}">
					<img class="logo-nav" src="@{'/public/images/icons/icons8-restaurante-48.png'}" alt="Icone logo" >
					<h1>MenuDev</h1>		
				</a>
			</div>
		
			#{if title == 'Login de usuário'}
			    <div class="container-size nav_item">
		            <h1>#{get 'title'/}</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav">
		            	<li class="li-ul"><a class="a-li" href="@{Usuarios.form}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Cadastro de usuários</a></li>
		            </ul>
				</div>
        	#{/if}
        	
       		#{elseif title == 'Cadastro de usuário'}
			    <div class="container-size nav_item">
		            <h1>#{get 'title'/}</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav"></ul>
				</div>
				
        	#{/elseif}
        	
        	#{elseif title == 'Cardapio'}
				    <div class="container-size nav_item">
<!-- 			            <h1>#{get 'title'/}</h1> -->
			        </div>
			        
			        <div class="container-size nav_item">
		            	<ul class="ul-nav">
		            	#{if session['admin']}
		            	<li class="li-ul"><a class="a-li" href="@{Produtos.form}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Administração</a></li>
		            	#{/if}
		            	
			            	<div class="profile-container">
				            	<ul>
									<li class="profile logout">${session.get("usuario.nome")}</li>
									<li class="profile logout">${session.get("usuario.matricula")}</li>
				            	</ul>
									<li class="logout"><a href="@{Login.sair}">Sair da sessão</a></li>
			            	</div>
						</ul>
					</div>
        	#{/elseif}
 	
 			#{elseif title == 'Cadastro de produto' && 'Edicao de produto'}
			    <div class="container-size nav_item">
		            <h1>Administração</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav">
						<li class="li-ul"><a class="a-li" href="@{Produtos.listar}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Listagem de produtos</a></li>
					</ul>
				</div>
        	#{/elseif}
        	
        	#{elseif title == 'Lista de produtos'}
	        	 <div class="container-size nav_item">
		            <h1>Administração</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav">
						<li class="li-ul"><a class="a-li" href="@{Produtos.form}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Cadastro de produtos</a></li>
					</ul>
				</div>
        	#{/elseif}
        	
        	#{elseif title == 'Carrinho'}
	        	 <div class="container-size nav_item">
		            <h1>Carrinho</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		        
		            <ul class="ul-nav">
						<li class="li-ul"><a class="a-li" href="@{Produtos.cardapio}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Cardápio</a></li>
					</ul>
					
				</div>
        	#{/elseif}
        	
        	#{elseif title == 'Pagamento'}
	        	 <div class="container-size nav_item">
		            <h1>Finalização do pedido</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		        
		            <ul class="ul-nav">
						<li class="li-ul">Pagamento com segurança</li>
						<img src="../../public/images/icons/icons8-verificado.gif" >
					</ul>
					
				</div>
        	#{/elseif}
        	
  		</nav>
	</div>
	
	<!-- miolo da página, lugar para postagem de informações -->
	
	<div class="hero">
			#{doLayout /}
	</div>
	
<!-- estrutura de final da página -->
<!-- <div class="footer"></div> -->


	
	#{get 'moreScripts' /}
</body>
</html>
