<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/header.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-form.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-listar.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-login.css'}">
	<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/hero-homecardapio.css'}">
	
	
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/footer.css'}">

<link
	href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">
#{get 'moreStyles' /}
</head>
<body>

<!-- cabeçalho da pagina  -->
	<div class="header">
<!-- 	barra de navegação -->
		<nav class="nav">
			<div class="logo nav_item">
				<a href="@{Produtos.home}">
					<img class="logo-nav" src="@{'/public/images/icons/icons8-restaurante-48.png'}" alt="Icone logo" >
					<h1>MenuDev</h1>		
				</a>
			</div>
		
			#{if title == 'Login de usuário'}
			    <div class="container-size nav_item">
		            <h1>#{get 'title'/}</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav">
		            	<li class="li-ul"><a class="a-li" href="@{Usuarios.form}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Cadastro de usuários</a></li>
		            </ul>
				</div>
				</nav>
        	#{/if}
        	
       		#{elseif title == 'Cadastro de usuario'}
			    <div class="container-size nav_item">
		            <h1>#{get 'title'/}</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav"></ul>
				</div>
				
        	#{/elseif}
        	
        	#{elseif title == 'Home'}
				    <div class="container-size nav_item">
			            <h1>#{get 'title'/}</h1>
			        </div>
			        
			        <div class="container-size nav_item">
		            	<ul class="ul-nav">
		            	<li class="li-ul"><a class="a-li" href="@{Produtos.form}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Admin</a></li>
			            	<div class="singup-container">
								<li><a href="@{Usuarios.form}">Cadastre-se</a></li>
								<li><a href="@{Login.form}">Login</a></li>								
			            	</div>
			            	
			            	<div class="profile-container">
				            	<ul>
									<li class="logout">nome</li>
									<li class="logout">matricula</li>
				            	</ul>
									<li class="logout"><a href="@{Login.sair}">Sair da sessão</a></li>
			            	</div>
						</ul>
					</div>
        	#{/elseif}
 	
 	
 			#{elseif title == 'Cadastro de produto'}
			    <div class="container-size nav_item">
		            <h1>Administração</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav">
						<li class="li-ul"><a class="a-li" href="@{Produtos.listar}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Listagem de produtos</a></li>
					</ul>
				</div>
        	#{/elseif}
        	
        	#{elseif title == 'Lista de produtos'}
	        	 <div class="container-size nav_item">
		            <h1>Administração</h1>
		        </div>
		        
		        <div class="container-size nav_item">
		            <ul class="ul-nav">
						<li class="li-ul"><a class="a-li" href="@{Produtos.form}"><img class="icon-a" src="@{'/public/images/icons/icons8-sobremesa-50.png'}">Cadastro de produtos</a></li>
					</ul>
				</div>
        	#{/elseif}
  		</nav>
	</div>
	
	<!-- miolo da página, lugar para postagem de informações -->
	
	<div class="hero">
			#{doLayout /}
	</div>
	
	<!-- estrutura de final da página -->
	<div class="footer"></div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>

	<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
		type="text/javascript" charset="${_response_encoding}"></script>
	#{get 'moreScripts' /}
</body>
</html>
